$primary-color: #e79200
$active-color: #fc9c02
$contraste-top : #ffb949
$contraste-bottom : #ffb949
$white-color: #ffffff
$gray-color: #f7f7f7
$color-font: #313139
$opensans-light: 300
$opensans-regular: 400
$opensans-semibold: 600
html
  overflow-x: hidden
body
  background: $white-color
  color: $color-font
  font-family: 'Open Sans', sans-serif
  font-size: 13pt
  font-weight: $opensans-light
  line-height: 1.65em
  position: relative
  overflow-x: hidden
  visibility: hidden
input, select, textarea
  font-size: 13pt
  font-weight: $opensans-light
  line-height: 1.65em
a
  color: $primary-color
  text-decoration: none
  &:hover
    text-decoration: none
li
  list-style: none
strong, b
  font-weight: $opensans-semibold
em, i
  font-style: italic
p
  /*margin: 0 0 0.8em 0
h1, h2, h3, h4, h5, h6
  font-weight: $opensans-semibold
  line-height: 1em
  margin: 0 0 0.5em 0
  width: 100%
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  color: inherit
  text-decoration: none
h1
  font-size: 2em
  line-height: 1.5em
h2
  font-size: 1.75em
  line-height: 1.5em

h3
  font-size: 1.35em
  line-height: 1.5em
h4
  font-size: 1.1em
  line-height: 1.5em
h5
  font-size: 0.9em
  line-height: 1.5em
h6
  font-size: 0.7em
  line-height: 1.5em
sub
  font-size: 0.8em
  position: relative
  top: 0.5em
sup
  font-size: 0.8em
  position: relative
  top: -0.5em
hr
  border: 0
  border-bottom: medium 0.063em rgba(144, 144, 144, 0.25)
  margin: 2em 0
  &.major
    margin: 3em 0
blockquote
  border-left: solid 0.25em rgba(144, 144, 144, 0.25)
  font-style: italic
  margin: 0 0 2em 0
  padding: 0.5em 0 0.5em 2em
code
  background: rgba(144, 144, 144, 0.075)
  border-radius: 0.25em
  border: solid 0.063em rgba(144, 144, 144, 0.25)
  font-family: "Courier New", monospace
  font-size: 0.9em
  margin: 0 0.25em
  padding: 0.25em 0.65em
pre
  -webkit-overflow-scrolling: touch
  font-family: "Courier New", monospace
  font-size: 0.9em
  margin: 0 0 2em 0
  code
    display: block
    line-height: 1.75em
    padding: 1em 1.5em
    overflow-x: auto
.align-left
  text-align: left
.align-center
  text-align: center
.align-right
  text-align: right
header
  width: 100%
  height: 5em
.main-menu
  position: relative
  overflow: hidden
.logo
  width: 9.375em
ul.menu, .open
  width: calc(100% - 9.375em)
  display: flex
  flex-wrap: nowrap
  justify-content: flex-end
  li a
    padding: 1.75em 0.938em
    color: $color-font
    text-transform: uppercase
    transition: .2s
    &:hover
      color: $white-color
      background-color: $primary-color
    &:active
      background: $active-color
  @media only screen and (max-width:47.938em)
    flex-flow: column wrap
    position: absolute
    top: 5em
    right: 0
    text-align: center
    background: $white-color
    z-index: 999
    width: 100%
    transform: translatex(100%)
    animation-name: close
    animation-duration: 1s
    transition: 1s fade-in
    li
      width: 98%
      padding: 0.313em
      border-top: 0.031em solid $contraste-top
      border-bottom: 0.031em solid $contraste-bottom
      align-self: center
      &:first-child
        border-top: 0
      &:last-child
        border-bottom: 0
      a
       padding: 0.313em
       width: 100%
       display: block
i.icon-menu, i.icon-close
  display: none
  @media only screen and (max-width:48em)
    position: absolute
    right: 0.625em
    display: block
    font-size: 2em
    font-style: normal
    transition: 1s
    &:hover
      color: $primary-color
    &:active
      color: $primary-color
@keyframes close
  from
    transform: translateX(0%)
  to
    transform: translateX(100%)
.open
  transform: translateX(0%)
  animation-name: open
  animation-duration: 1s
@keyframes open
  from
    transform: translateX(100%)
    opacity: 0
  to
    transform: translateX(0%)
    opacity: 1
.banner
  background: url(../images/banner-home.jpg)
  background-position: top center
  background-size: cover
  background-clip: border-box
  width: 100%
  min-height: calc(98vh - 5em)
  position: relative
  &::after
    content: ""
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: url(../images/opacity.png)
    background-repeat: repeat
.banner_content
  color: $white-color
  z-index: 1
  h2
    font-size: 35pt
    margin: 0
  p
    font-weight: $opensans-regular
    margin-bottom: 2em
.button
  background: $primary-color
  color: $white-color
  width: auto
  padding: 0.938em
  font-weight: $opensans-regular
  &:hover
    background-color: $active-color
.about
  background: url(../images/about-section.png)
  background-position: top left
  background-repeat: no-repeat
  height: 43.75em
  transition: 2s
  visibility: hidden
.about_content
  background-color: rgba($white-color,.85)
  color: $color-font
  z-index: 1
  h1
    font-size: 40pt
    width: 100%
.services
  background: $gray-color
  min-height: 98vh
  padding: 2em 0
  transition: 2s
  visibility: hidden
.white
  background: $white-color
  padding-left: 2%
  padding-right: 1%
.crop
  height: 18.75em
  @media only screen and (min-width:20em) and (max-width:53.313em) /* 320/16, 853/16 */
    height: 12.5em
.our-serv
  display: flex
  flex-wrap: nowrap
  align-content: stretch
  justify-content: center
  margin: 1.875em 0
  font-weight: $opensans-semibold
  li
    padding: 0.625em

    &:last-child
      margin-right: 0
    a
      padding: 0.625em

      transition: .2s
      display: block
      &:hover
        color: #FFF
        background: $active-color
        padding: 0.625em
    @media only screen and (min-width: 48em) /* 768/16 */
      margin-right: 9.063em
      &:last-child
        margin-right: 0
.tabs
  animation-name: tabs
  animation-duration: 2s
  text-align: left
  align-self: center
  display: flex
  flex-wrap: wrap
.img
  position: relative
  overflow: hidden
@keyframes tabs
  from
    opacity: 0
    transition: 1s fade-in
  to
    opacity: 1
    transition: 1s fade-in
.btn-tabs
  display: table
  margin-top: 1.25em
.estimate
  background: url(../images/reason-section.jpg)
  background-position: center
  background-size: cover
  color: $white-color
  padding: 2em 0
  transition: 2s
  visibility: hidden
.estimate_content
  visibility: hidden
  &p
    font-weight: $opensans-semibold
.header_form
  width: 100%
  height: auto
  display: flex
  flex-wrap: nowrap
  background: rgba($primary-color,.85)
  padding: 2% calc(7% + 0.469em)
  box-sizing: border-box
  overflow: hidden
  &>img
    display: block
    width: 3.75em
    margin-right: 2em
  &>div
    width: calc(100% - 2em - 3.75em)
    &>p
      font-weight: $opensans-semibold
.estimate_form
  visibility: hidden
.form
  display: flex
  flex-wrap: wrap
  background: rgba($white-color,.85)
  padding: 5%
  li
    color: $color-font
    display: block
    width: 90%
    p
      width: 100%
    &>input
      background-color: rgba($white-color,0)
      border: 0
      border-bottom: 0.063em rgba($color-font,.3) solid
      width: 100%
      margin-bottom: 1em
      padding: 2.5% 2.5% 0
    &>textarea
      background-color: rgba($white-color,0)
      border: 0
      border-bottom: 0.063em rgba($color-font,.3) solid
      width: 100%
      margin-bottom: 1em
      padding: 2.5%
    &>button
      border: 0
      width: 100%
      font-weight: $opensans-semibold
      font-size: 1.125em
.email
  background: url(../images/email.png)
  position: relative
  height: 400px
  visibility: hidden
  &>.container p
    display: block
    width: 100%
    margin-bottom: 0.8em
    font-weight: $opensans-semibold
    font-size: 2em
    text-align: center
/*animations*/

.fade
  animation-name: fade
  animation-duration: 1s
  transition: 2s
  visibility: visible !important

@keyframes fade
  from
    opacity: 0
  to
    opacity: 1
.fade-up
  animation-name: fadeup
  animation-duration: 1s
  transition: 2s
  opacity: 1
  visibility: visible !important

@keyframes fadeup
  from
    opacity: 0
    transform: translateY(200%)
  to
    opacity: 1
    transform: translateY(0%)

.Mleft
  animation-name: Mleft
  animation-duration: 1s
  transition: 2s
  opacity: 1
  visibility: visible !important

@keyframes Mleft
  from
    opacity: 0
    transform: translateX(50%)
  to
    opacity: 1
    transform: translateX(0%)
    opacity: 1
.Mright
  animation-name: Mright
  animation-duration: 1s
  transform: translateX(0%)
  transition: 2s
  opacity: 1
  visibility: visible !important

@keyframes Mright
  from
    opacity: 0
    transform: translateX(-50%)
  to
    opacity: 1
    transform: translateX(0%)
